<ion-view view-title="Address Book" cache-view="false" hide-back-button="true">

	<ion-nav-buttons side="right">
		<i style="padding:10px;position:relative" class="ion-plus ion_icons_header" ng-if="address_length!='3'"  ui-sref="app.add_address"></i>
		
		<i style="padding:10px;position:relative" class="ion-plus ion_icons_header" ng-if="address_length=='3'" ng-click="address_full()"></i>
    </ion-nav-buttons>
  
	
  <ion-content class="no-header3" style="background-color:#AAAEA4" overflow-scroll="true">
  
  <div class="card" ng-repeat="address in address_details" ng-if="address.address_type_id=='1'">
  
	<ion-radio ng-value="address1.value1" ng-model="address_radio.value"  name="deliveraddress" ng-click="select_addr(address.address_type_id)">
		 <div class="row">
	  
			<div class="col col-25">
				<i class="ion-home ion_icons_header"></i>
			</div>
			
			<div class="col col-75">
				<span style="color:black">Home</span>
			</div>
	  
	  </div>	
	  <div class="row">
		
		<div class="col col-25">
		
		</div>
		<div class="col col-75 item-text-wrap">
			<p style="font-size:13px">{{address.address}}</p>
		</div>
			
	  </div>			
					
	</ion-radio>
	<div class="row" align="center">
		<div class="col-50" align="center">
			<!--<i class="icon address_icon ion-trash-a" ng-click="delete_address(address.address_type_id)"></i>-->
			<span style="color:orange;font-size:14px" ng-click="delete_address(address.address_type_id)">DELETE</span>
		</div>
		<div class="col-50">
			<span style="color:orange;font-size:14px" ui-sref="app.edit_address({address_type : address.address_type_id,address_id : address.id})">EDIT</span>
			<!--<i class="icon ion-edit address_icon" ui-sref="app.edit_address({address_type : address.address_type_id,address_id : address.id})" style="color:#FF0000; font-size: 24px;"></i>-->
		</div>
	</div>
  
  </div>
  
   <div class="card" ng-repeat="address in address_details" ng-if="address.address_type_id=='2'">
  
	<ion-radio ng-value="address2.value2" ng-model="address_radio.value2"  name="deliveraddress" ng-click="select_addr(address.address_type_id)">
		 <div class="row">
	  
			<div class="col col-25">
				<i class="ion-person-stalker ion_icons_header"></i>
			</div>
			
			<div class="col col-75">
				<span style="color:black">Work</span>
			</div>
	  
	  </div>	
	  <div class="row">
		
		<div class="col col-25">
		
		</div>
		<div class="col col-75 item-text-wrap">
			<p style="font-size:13px">{{address.address}}</p>
		</div>
			
	  </div>			
					
	</ion-radio>
	<div class="row" align="center">
		<div class="col-50" align="center">
			<!--<i class="icon address_icon ion-trash-a" ng-click="delete_address(address.address_type_id)"></i>-->
			<span style="color:orange;font-size:14px" ng-click="delete_address(address.address_type_id)">DELETE</span>
		</div>
		<div class="col-50">
			<span style="color:orange;font-size:14px" ui-sref="app.edit_address({address_type : address.address_type_id,address_id : address.id})">EDIT</span>
			<!--<i class="icon ion-edit address_icon" ui-sref="app.edit_address({address_type : address.address_type_id,address_id : address.id})" style="color:#FF0000; font-size: 24px;"></i>-->
		</div>
	</div>
  
  </div>
  
   <div class="card" ng-repeat="address in address_details" ng-if="address.address_type_id=='4'">
  
	<ion-radio ng-value="address4.value4" ng-model="address_radio.value4"  name="deliveraddress" ng-click="select_addr(address.address_type_id)">
		 <div class="row">
	  
			<div class="col col-25">
				<i class="ion-home ion_icons_header"></i>
			</div>
			
			<div class="col col-75">
				<span style="color:black">Others</span>
			</div>
	  
	  </div>	
	  <div class="row">
		
		<div class="col col-25">
		
		</div>
		<div class="col col-75 item-text-wrap">
			<p style="font-size:13px;">{{address.address}}</p>
		</div>
			
	  </div>			
					
	</ion-radio>
	<div class="row" align="center">
		<div class="col-50" align="center">
			<!--<i class="icon address_icon ion-trash-a" ng-click="delete_address(address.address_type_id)"></i>-->
			<span style="color:orange;font-size:14px" ng-click="delete_address(address.address_type_id)">DELETE</span>
		</div>
		<div class="col-50">
			<span style="color:orange;font-size:14px" ui-sref="app.edit_address({address_type : address.address_type_id,address_id : address.id})">EDIT</span>
			<!--<i class="icon ion-edit address_icon" ui-sref="app.edit_address({address_type : address.address_type_id,address_id : address.id})" style="color:#FF0000; font-size: 24px;"></i>-->
		</div>
	</div>
  
  </div>
  
  <div class="card" style="height:100%" ng-if="address_details.length < 1">
  
	  <img src="img/house.png" style="width:{{width}}px;margin:auto;display:block">
	  <div align="center">
	  <span style="font-size:13px">You don't have any address saved.Saving address helps you checkout faster.</span>
		</div>
  </div>

	
	<div style="height:5%"></div>
  </ion-content>
</ion-view>
