<ion-view title="Page" id="page5">
  <ion-content padding="true" class="has-header" overflow-scroll="false">
    <ion-list id="page-list5">
      <ion-item class="item-divider" id="page-list-item-divider1"> Bill Summary</ion-item>
    </ion-list>
    <ion-list id="page-list6">
      <ion-item class="dark" id="page-list-item41">Total
        <span class="item-note">Rs.1335.32</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div id="page-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>How do want to pay ?</strong>
      </p>
    </div>
    <div class="list card" id="page-card22">
      <ion-item class="item-icon-left" id="page-list-item14">
        <i class="icon ion-card"></i>Credit card</ion-item>
      <ion-item class="item-icon-left" id="page-list-item15">
        <i class="icon ion-card"></i>Debit card</ion-item>
      <ion-item class="item-icon-left" id="page-list-item16">
        <i class="icon ion-network"></i>Net banking</ion-item>
      <ion-item class="item-icon-left" id="page-list-item17">
        <i class="icon ion-android-happy"></i>Paypal</ion-item>
      <ion-item class="item-icon-left" id="page-list-item18">
        <i class="icon ion-ios-filing-outline"></i>Wallet</ion-item>
      <ion-item class="item-icon-left" id="page-list-item19" ui-sref="menu.home">
        <i class="icon ion-cash"></i>Cash on delivery</ion-item>
    </div>
  </ion-content>
</ion-view>