<ion-view view-title="Booking History">
  <ion-content>
  <div style="padding-top:10px">
		<input class="button button-block button-royal" value="Book A Table" ui-sref="app.book_table"/>  
	  </div>
  	<div class="card"  ui-sref="app.order_details({order_id : order.id})">
						<div class="item item-thumbnail-left">
					      
					      <div class="col">
					      
					      <p style="white-space: none !important;"><h2>Adyar Branch</h2></p>
					      </div>
						<div class="row"> 
							<div class="col col-40">
									<h2 style="align:center"> Order Date </h2></br>
								  
							</div>
							<div class="col col-40">
									
									  <h3 style="align:center">12-8-2017</h3>
							</div>
						</div>
		    			</div>
					<div class="item item-divider" style="padding: 0 !important; background-color: #FFF !important; border:none !important;" align="center">
				    	<div class="row">
				    		<div class="col col-50">
				    			<h3 class="h4-font">Payment Method</h3>
				    			<h4>payment</h4>
				    		</div>
				    		
				    		<div class="col col-50">
				    		<h3 class="h4-font">Total</h3>
				    		<h4>total</h4>
				    		</div>
				    	</div>

				    	 <div class="item item-body">
						<div class="show-list-numbers-and-dots">
						  <span class="order-success">desc</span>
						</div>
					  </div>
				   </div>
				</div>
  </ion-content>
</ion-view>
