<ion-modal-view    cache-view="false">
<br><br><br><br>
<ion-nav-bar class="bar-royal">
		<ion-nav-title>
			Change Password
		</ion-nav-title>
		<ion-nav-buttons side="right">
      	<button class="button button-icon-small button-icon button-clear ion-close-round" ng-click="closeModal()">
        	</button>
    	</ion-nav-buttons>
</ion-nav-bar>


 <ion-content overflow-scroll="true">

<br><br><br>

  <div class="row" style="position: relative !important;">
  	  	<div class="col" align="center">
  		<img src="img/key.svg" style="width: 100px; height: 100px;" ng-click="show_actionsheet()">
	</div>
 </div>

 	<div class="list padding">
		<form method="post" ng-submit="pwd_change(pwd_details)">
			 <label class="item-input item-stacked-label row-bottom-border">
	   		<h5 class="input-label h4-font col">Current Password</h5>
	   		<input type="password" ng-model="pwd_details.oldpassword"  placeholder="Current Password">
	   		</label>

	   		<label class="item-input item-stacked-label row-bottom-border">
	   		<h5 class="input-label h4-font col">New Password</h5>
	   		<input type="password" ng-model="pwd_details.newpassword" placeholder="New Password">
	   		</label>

	   		<label class="item-input item-stacked-label row-bottom-border">
	   		<h5 class="input-label h4-font col">Re Enter Password</h5>
	   		<input type="password" ng-model="pwd_details.confirmpassword"  placeholder="New Password">
	   		</label>
	   		<br>
	   		<div class="row">
	   		<div class="col">
	   		<input class="button button-block item-bg-color" type="submit" value="Change Password"/>
	   		</div>
	   		</div>

		</form>
	</div>

	<!-- <form method="post" ng-submit="pwd_change(change)">
	<div class="card">
		<div class="list-inset">
	 	 <label class="item item-input item-stacked-label">
         <span class="input-label">Current Password</span>
              <input type="password" ng-model="change.old_password"  placeholder="Current Password">
         </label>
		 <label class="item item-input item-stacked-label">
         <span class="input-label">New Password</span>
              <input type="password" ng-model="change.password" placeholder="New Password">
         </label>
		 <label class="item item-input item-stacked-label">
         <span class="input-label">Re Enter Password</span>
              <input type="password" ng-model="change.password_confirmation"  placeholder="New Password">
         </label>
		
		 <input class="button button-block button-royal" type="submit" value="Change Password"/>
		</div>
	</div>
	</form>  --> 
	  
	  
  </ion-content>
  
 
</ion-modal-view>
