<ion-view view-title="Hot Offers" hide-back-button="true">

 <ion-content class="has-header" overflow-scroll="true">

  <div class="card coupon_cards" ng-repeat="offers in offer_data" ui-sref="app.view_offers({offer_id : offers.offersid})">
    <div class = "row">
      <div class = "col col-50">
      <img src="{{offers.image_url}}" width="{{final_width}}" height="70">
      </div>
      <div class = "col col-50" >
        <span class="textwrapper">{{offers.offer_name}}</span></br>
        <span class="textwrapper">{{offers.item_description}}</span>
       
      </div>
     <!-- <div class = "col col-25 cou_pro_apply">
        <button class="button button-positive  button-outline coupon_btn">Offer : {{offers.offer_value}}</button>
      </div>-->
    </div>
	<div class="row" align="center">
		 <h4 >{{offers.offer_message}}</h4>
	</div>
  </div>
  
  <div class="card" ng-if="offer_data.length<1">
  
  <span>There is no offers for this restaurant</span>
  </div>

  

</ion-content>
</ion-view>