<ion-modal-view cache-view="false">
<ion-nav-bar class="bar-royal">
		<ion-nav-title>
			Image Upload
		</ion-nav-title>
		<ion-nav-buttons side="right">
      	<button class="button button-icon button-clear ion-close-round" ng-click="closeModal()">
        	</button>
    	</ion-nav-buttons>
</ion-nav-bar>
	  <ion-content overflow-scroll="true">
	 
  	<div style="margin-left:45%;padding-top:70px">  
  <i class="ion-image ion_icons_big" ng-click="image_gallery()"></i></br></br>
	<i class="ion-android-camera ion_icons_big" ng-click="image_take()"></i>  </div>
	  
	  
  </ion-content>
  
 
</ion-modal-view>
