<ion-modal-view cache-view="false">
<ion-nav-bar class="bar-royal">
		<ion-nav-title>
			Language Selection
		</ion-nav-title>
		<ion-nav-buttons side="right">
      	<button class="button button-icon button-clear ion-close-round" ng-click="closeModal()">
        	</button>
    	</ion-nav-buttons>
</ion-nav-bar>
	  <ion-content overflow-scroll="true">

	  <div>
			<div class="login-html">
				<br>
				<br>
					

	   			<div class = "col">
				
				<span>Select a language from the list and proceed</span></br></br>
				
				<!-- <div class = "item item-checkbox item-borderless" >
				 
					<ion-item ng-repeat="lang in language_list" ng-click="select_lang(lang.value)">
					<span>{{lang.value}}</span>
					</ion-item>
					
      
					</div>-->
					<ion-item-group>
				
						<ion-item ng-repeat ="lang in language_list" ng-click="select_lang(lang.value)">{{lang.value}}</ion-item>
				
					</ion-item-group>
   
					
	  				
						  		 			
	   			
				</div>
	 
	  	  
  
	  
	  
  </ion-content>
  
 
</ion-modal-view>
