<ion-view view-title='Login' >

  <ion-content padding="10">
 
      <div class="list">
	   <form name="login_form" ng-submit="login_data(logindata)">
        	<label class="item item-input">
          	<input type="text" placeholder="email"  ng-model="logindata.email">
        	</label>
        	<label class="item item-input">
          	<input type="password" placeholder="password" ng-model="logindata.password">
        	</label>
          <input  class="button button-block button-red" type="submit" value="Submit"/>
            LOGIN
         </button><br>
		  </form>
        
      </div>
      
	  
	  
</ion-view>