<ion-view view-title="My Order">

<ion-content class="padding">

<div>
  <ion-tabs class="no-header tabs-positive">
  		<ion-tab title="Live Order">
			<ion-nav-view name="home-tab">
				<div  style="padding-top:40px">
					<div class="card">
						<div class="item item-thumbnail-left" ui-sref="app.order_details">
					      <img src="img/avatar.svg">
					      <div class="col">
					      <h2><span class="h4-font">Dinesh Kumar</span></h2>
					      <p style="white-space: none !important;">No 13, Shastri Nagar, Adyar,<br>Chennai</p>
					      </div>
					    
					      	<div class="col col-50">
					      	 	<span> Price :</span>
					      	 	  <span>220</span>
					      	 </div>
		    			</div>
					<div class="item item-divider" style="padding: 0 !important; background-color: #FFF !important; border:none !important;" align="center">
				    	<div class="row">
				    		<div class="col col-33">
				    			<h3 class="h4-font">Order Date</h3>
				    			<h4>20 June 2017</h4>
				    		</div>
				    		<div class="col col-33">
				    		<h3 class="h4-font">Time</h3>
				    		<h4>12: 30 PM</h4>
				    		</div>
				    		<div class="col col-33">
				    		<h3 class="h4-font">Total</h3>
				    		<h4>Rs. 250.55</h4>
				    		</div>
				    	</div>

				    	 <div class="item item-body">
						<div class="show-list-numbers-and-dots">
						  <span class="order-success">Delivery and Rated</span>
						</div>
					  </div>
				   </div>
				</div>


				<div class="card" id="orders-card24">
						<div class="item item-thumbnail-left " ui-sref="app.order_details" >
					      <img src="img/avatar.svg">
					      <div class="col">
					      <h2><span class="h4-font">Dinesh Kumar</span></h2>
					      <p style="white-space: none !important;">No 13, Shastri Nagar, Adyar,<br>Chennai</p>
					      </div>
					    
					      	<div class="col col-50">
					      	 	<span> Price :</span>
					      	 	  <span>220</span>
					      	 </div>
		    			</div>
					<div class="item item-divider" style="padding: 0 !important; background-color: #FFF !important; border:none !important;" align="center">
				    	<div class="row">
				    		<div class="col col-33">
				    			<h3 class="h4-font">Order Date</h3>
				    			<h4>20 June 2017</h4>
				    		</div>
				    		<div class="col col-33">
				    		<h3 class="h4-font">Time</h3>
				    		<h4>12: 30 PM</h4>
				    		</div>
				    		<div class="col col-33">
				    		<h3 class="h4-font">Total</h3>
				    		<h4>Rs. 250.55</h4>
				    		</div>
				    	</div>

				    	 <div class="item item-body" id="orders-list-item-container9">
						<div class="show-list-numbers-and-dots">
						 <span class="order-success">Delivery and Rated</span>
						</div>
					  </div>
				   </div>
				</div>

					<div class="card">
						<div class="item item-thumbnail-left " ui-sref="app.view_order" >
					      <img src="img/avatar.svg">
					      <div class="col">
					      <h2><span class="h4-font">Dinesh Kumar</span></h2>
					      <P style="white-space: none !important;">No 13, Shastri Nagar, Adyar,<br>Chennai</P>
					      </div>
					    
					      	<div class="col col-50">
					      	 	<span> Price :</span>
					      	 	  <span>220</span>
					      	 </div>
		    			</div>
					<div class="item item-divider" style="padding: 0 !important; background-color: #FFF !important; border:none !important;" align="center">
				    	<div class="row">
				    		<div class="col col-33">
				    			<h3 class="h4-font">Order Date</h3>
				    			<h4>20 June 2017</h4>
				    		</div>
				    		<div class="col col-33">
				    		<h3 class="h4-font">Time</h3>
				    		<h4>12: 30 PM</h4>
				    		</div>
				    		<div class="col col-33">
				    		<h3 class="h4-font">Total</h3>
				    		<h4>Rs. 250.55</h4>
				    		</div>
				    	</div>
				   </div>
				</div>

		
			</ion-nav-view>
		</ion-tab>





			<ion-tab title="Past Order" >
			<ion-nav-view name="home-tab">
					<div style="padding-top:40px">
						<div class="card">
						<div class="item item-thumbnail-left" id="orders-list-item26" ui-sref="app.view_order">
					      <img src="img/avatar.svg">
					      <div class="col">
					      <h2><span class="h4-font">Dinesh Kumar</span></h2>
					      <p style="white-space: none !important;">No 13, Shastri Nagar, Adyar,<br>Chennai</p>
					      </div>
					    
					      	<div class="col col-50">
					      	 	<span> Price :</span>
					      	 	  <span>220</span>
					      	 </div>
		    			</div>
					<div class="item item-divider" style="padding: 0 !important; background-color: #FFF !important; border:none !important;" align="center">
				    	<div class="row">
				    		<div class="col col-33">
				    			<h3 class="h4-font">Order Date</h3>
				    			<h4>20 June 2017</h4>
				    		</div>
				    		<div class="col col-33">
				    		<h3 class="h4-font">Time</h3>
				    		<h4>12: 30 PM</h4>
				    		</div>
				    		<div class="col col-33">
				    		<h3 class="h4-font">Total</h3>
				    		<h4>Rs. 250.55</h4>
				    		</div>
				    	</div>

				    	 <div class="item item-body">
						<div class="show-list-numbers-and-dots">
						  <span class="order-cancel">Delivery Cancelled</span>
						</div>
					  </div>
				   </div>
				</div>


				<div class="card">
						<div class="item item-thumbnail-left" ui-sref="app.view_order">
					      <img src="img/avatar.svg">
					      <div class="col">
					      <h2><span class="h4-font">Dinesh Kumar</span></h2>
					      <p style="white-space: none !important;">No 13, Shastri Nagar, Adyar,<br>Chennai</p>
					      </div>
					    
					      	<div class="col col-50">
					      	 	<span> Price :</span>
					      	 	  <span>220</span>
					      	 </div>
		    			</div>
					<div class="item item-divider" style="padding: 0 !important; background-color: #FFF !important; border:none !important;" align="center">
				    	<div class="row">
				    		<div class="col col-33">
				    			<h3 class="h4-font">Order Date</h3>
				    			<h4>20 June 2017</h4>
				    		</div>
				    		<div class="col col-33">
				    		<h3 class="h4-font">Time</h3>
				    		<h4>12: 30 PM</h4>
				    		</div>
				    		<div class="col col-33">
				    		<h3 class="h4-font">Total</h3>
				    		<h4>Rs. 250.55</h4>
				    		</div>
				    	</div>

				    	 <div class="item item-body">
						<div class="show-list-numbers-and-dots">
						  <span class="order-cancel">Delivery Cancelled</span>
						</div>
					  </div>
				   </div>
				</div>


				<div class="card">
						<div class="item item-thumbnail-left" ui-sref="app.view_order">
					      <img src="img/avatar.svg">
					      <div class="col">
					      <h2><span class="h4-font">Dinesh Kumar</span></h2>
					      <p style="white-space: none !important;">No 13, Shastri Nagar, Adyar,<br>Chennai</p>
					      </div>
					    
					      	<div class="col col-50">
					      	 	<span> Price :</span>
					      	 	  <span>220</span>
					      	 </div>
		    			</div>
					<div class="item item-divider" style="padding: 0 !important; background-color: #FFF !important; border:none !important;" align="center">
				    	<div class="row">
				    		<div class="col col-33">
				    			<h3 class="h4-font">Order Date</h3>
				    			<h4>20 June 2017</h4>
				    		</div>
				    		<div class="col col-33">
				    		<h3 class="h4-font">Time</h3>
				    		<h4>12: 30 PM</h4>
				    		</div>
				    		<div class="col col-33">
				    		<h3 class="h4-font">Total</h3>
				    		<h4>Rs. 250.55</h4>
				    		</div>
				    	</div>

				    	 <div class="item item-body">
						<div class="show-list-numbers-and-dots">
						  <span class="order-cancel">Delivery Cancelled</span>
						</div>
					  </div>
				   </div>
				</div>
					</div>
			
			</ion-nav-view>
		</ion-tab>
</ion-tabs>
</div>


</ion-content>
</ion-view>