<ion-view title="My Orders " >
  <ion-content  class="has-header">
    <ion-list >
      <ion-item> Orders</ion-item>
      <ion-item class="item-avatar"  ui-sref="app.view_order">
        <img src="img/order_cus.jpg">
        <h2>James</h2>
        <p>Shastri Nagar,Chennai</p>
      </ion-item>
    </ion-list>
    <div class="item item-body" >
      <div>
        <p style="margin-top:0px;color:#413F3F;font-size:11px;">Ordered at:
          <strong>18 Aug 2016</strong> at
          <strong>1240 pm</strong>
        </p>
      </div>
      <div>
        <p style="margin-top:0px;color:#000000;">Total:
          <strong>1523.12</strong>
        </p>
      </div>
    </div>
    <div class="item item-body">
      <div >
        <p style="margin-top:0px;color:#0C8A00;font-size:14px;">Delivery and Rated</p>
      </div>
    </div>
    <div class="list card" id="orders-card24">
      <ion-item class="item-avatar" ui-sref="app.view_order">
        <img src="img/order_cus.jpg">
        <h2>James</h2>
        <p>Shastri Nagar,Chennai</p>
      </ion-item>
      <div class="item item-body">
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:11px;">Ordered at:
            <strong>18 Aug 2016</strong> at
            <strong>1240 pm</strong>
          </p>
        </div>
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Total:
            <strong>1324.12</strong>
          </p>
        </div>
      </div>
      <div class="item item-body" id="orders-list-item-container9">
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#0C8A00;font-size:14px;">Delivery and Rated</p>
        </div>
      </div>
    </div>
    <div class="list card">
      <ion-item class="item-avatar" id="orders-list-item26" ui-sref="app.view_order1">
        <img src="img/order_cus.jpg">
        <h2>James</h2>
        <p>Shastri Nagar,Chennai</p>
      </ion-item>
      <div class="item item-body">
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:11px;">Ordered at:
            <strong>18 Aug 2016</strong> at
            <strong>1240 pm</strong>
          </p>
        </div>
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Total:
            <strong>1324.12</strong>
          </p>
        </div>
      </div>
      <div class="item item-body">
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#FC0C0C;font-size:14px;">Order Cancelled</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>