<ion-view view-title="My Orders">
  <ion-content>
   <div class="list card" ui-sref="app.view_order">
           
            <div class="item item-body">
                <div>
					<p> Demo</p>
					<p>Price: $220</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					Lorem Ipsum has been the industry's standard dummy 
					text ever since the 1500s, when an unknown printer took a galley of type and
					scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
		
		<div class="list card" ui-sref="app.fav_product">
           
            <div class="item item-body">
                <div>
					<p> chicken Fry</p>
					<p>Price: $550</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					Lorem Ipsum has been the industry's standard dummy 
					text ever since the 1500s, when an unknown printer took a galley of type and
					scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
  </ion-content>
</ion-view>
