<ion-view view-title="My Order" hide-back-button="true">

<ion-content class="padding" overflow-scroll="true"  style="background-color:#AAAEA4">

<div>
  <ion-tabs class="no-header tabs-positive">
  		<ion-tab title="Live Order" ng-click="ordertab_click()">
			<ion-nav-view class="no-header" name="home-tab">
				<div  style="padding-top:40px">
					<div class="card" ng-repeat="order in present_order_details">
						<div>
							<div class="item item-divider" style="padding: 0 !important; background-color: #FFF !important; border:none !important;" align="center">
								<div class="row">
									<div class="col col-50">
										<h3 class="h4-font">Order Date</h3>
										<h4>{{order.order_date}}</h4>
									</div>
								
									<div class="col col-50">
										<h3 class="h4-font">Total</h3>
										<h4>{{order.totalamount | number : 2}}</h4>
									</div>
								</div>
							</div>
							<div class="item item-divider" style="padding: 0 !important; background-color: #FFF !important; border:none !important;" align="center">
								<div class="row">
									<div class="col col-50">
										<h3 class="h4-font">Payment Method</h3>
										<h4>{{order.order_type_name}}</h4>
									</div>
								
									<div class="col col-50">
										<button class="button button-full button-small button-assertive"  ui-sref="app.order_details({order_id : order.id,lat :order.latitude,long:order.longitude})">
									<!--		<button class="button button-full button-small button-assertive"  ng-click="view_items(order.id)">-->
											View Details
										</button>
									</div>
								</div>
							</div>
						</div>
						 <div class="item item-body" align="center">
							<div class="show-list-numbers-and-dots">
							  <span class="order-success" ng-if="order.order_status_desc!='outtodelivery'">{{order.order_status_desc}}</span>
							   <span class="order-success" ng-if="order.order_status_desc=='outtodelivery'">Out For Delivery</span>
							</div>
						</div>
						<!--<ion-item  ng-click="toggleGroup(order.id)" ng-if="order.order_status_desc=='outtodelivery'">
							<button class="button button-full button-small button-assertive">
											View Driver Details
										</button>
						</ion-item>
						<ion-item class="item-accordion" ng-if="shownGroup ==order.id">
							<div class="card item item-divider" ng-if="order.order_status_desc=='outtodelivery'" ng-repeat="driver in driver_details">
								<div class="row">
									<div class="col col-50">
										<h3 class="h4-font">Driver Name</h3>
										<h4>{{driver.deliveryboyname}}</h4>
										<button class="button button-full button-small button-assertive" ui-sref="app.track({order_id : order_details.orderid})">
											Track
										</button>
									</div>
								
									<div class="col col-50">
										<h3 class="h4-font">Mobile Number</h3>
										<h4>{{driver.deliveryboyphone}}</h4>
										<a href="tel:' + 91{{driver.deliveryboyphone}} + '"><button class="button button-full button-small button-assertive"> 
											Call
										</button></a>
									</div>
								</div>
								<div class="row">
								
								</div>
						
						</div>
						
						</ion-item>-->
						
				  
					</div>

				<div class="card" ng-if="present_order_details.length<1">
				
				<span>No Items Available</span>
				
				</div>
			

				

		
			</ion-nav-view>
		</ion-tab>





			<ion-tab title="Past Order">
			<ion-nav-view name="home-tab">
					<div style="padding-top:40px">
					<div class="card" ng-repeat="order in past_order_details">
						<div>
							<div class="item item-divider" style="padding: 0 !important; background-color: #FFF !important; border:none !important;" align="center">
								<div class="row">
									<div class="col col-50">
										<h3 class="h4-font">Order Date</h3>
										<h4>{{order.order_date}}</h4>
									</div>
								
									<div class="col col-50">
										<h3 class="h4-font">Total</h3>
										<h4>{{order.totalamount | number : 2}}</h4>
									</div>
								</div>
							</div>
							<div class="item item-divider" style="padding: 0 !important; background-color: #FFF !important; border:none !important;" align="center">
								<div class="row">
									<div class="col col-50">
										<h3 class="h4-font">Payment Method</h3>
										<h4>{{order.order_type_name}}</h4>
									</div>
								
									<div class="col col-50">
									<!--	<button class="button button-full button-small button-assertive"  ui-sref="app.order_details({order_id : order.id})">-->
											<button class="button button-full button-small button-assertive"  ui-sref="app.order_details({order_id : order.id,lat :order.latitude,long:order.longitude})">
											View items
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item item-body" align="center">
							<div class="show-list-numbers-and-dots">
							 <!-- <span class="order-success">{{order.order_status_desc}}</span>-->
								<button class="button button-full button-small button-assertive" ng-click="reorder(order.id,order.restaurant_id,order.restaurant_name)">
											REORDER
										</button>
							</div>
						</div>
				</div>
					
					<div class="card" ng-if="past_order_details.length<1">
				
				<span>No Items Available</span>
				
				</div>

					</div>
			
			</ion-nav-view>
		</ion-tab>
</ion-tabs>
</div>


</ion-content>
</ion-view>