<ion-view view-title="My Wallet">
  <ion-content>
  
	<div class="card" style="background-color: #D4CDCC">
	<span style="text-align: center;color:red"><h4>Balance</h4></span></br>
	<span style="text-align: center"><h3><img src="img/rupee.svg" width="13" height="13">25,000</h3></span>
	
	</div>
	<div class="card" style="padding-top:5px;height:100%">
		<div class="row">
			<div class="col col 50">
			<img src="img/sendmoney.png"></br>
			<span style="text-align:center">Send Money</span>
			</div>
			<div class="col col 50">
			<img src="img/topup.png"></br>
			<span style="text-align:center">Top Up</span>
			</div>
		
		</div>
		<div class="row">
			<div class="col col 50">
			<img src="img/sendmoney.png"></br>
			<span style="text-align:center">Bill Payment</span>
			</div>
			<div class="col col 50">
			<img src="img/digital.png"></br>
			<span style="text-align:center">Digital</span>
			</div>
		
		</div>
	</div>
  
  </ion-content>
</ion-view>
