<ion-view view-title="Notifications" hide-back-button="true">
  <ion-content>

  <div class="row item-bg-color" align="center">
  		<div class="col col-10">
  			<h5 align="center"></h5>
  		</div>
 	
  	</div>
 </div>
</div>
  <div class="row row-bottom-border" ng-repeat="notification in notification_items">
  		<div class = "col ">
       	 <ion-item style="border-color: #FFF !important">
        	
        	<h2><strong class="h4-font "> </strong></br>
			<span class="item-wrap">{{notification.message}}</span></h2>
      	<!--	<h4>{{notification.order_date}}</h4>-->
        </ion-item>
      </div>
 </div>
 <div class="card" ng-if="notification_items.length<1" align="center">
 
<!-- <span>No Notifications Available</span>-->
	<img src="img/bell.png">
	<div align="center">
		<span style="font-size:13px">No New Notifications!.</span>
	</div>
 
 </div>


  </ion-content>
</ion-view>
