<ion-view view-title="Order Placed" style="background-color: #FFF !important;" hide-back-button="true">
  <ion-content>

<br><br><br><br><br>
    <div class="col" align="center" style="margin-top: 50px;">
		<h1>Order ID : {{order_id}}</h1>
      <img src="img/checked.png" width="80" height="68">
    </div>

    <div class="col" align="center">
      <h1>Thank You</h1>
      <h5>Your Order Placed</h5>
	   <button class="button button-full button-small item-bg-color" ui-sref="app.my_order">
	   <!-- <button class="button button-full button-small item-bg-color" ui-sref="app.order_details({order_id : order_id})"> -->
      View Orders
      </button>
    </div>
  


  <!-- 
   <div class="card" >
   <div style="padding-top:20%;text-align:center;font-size:30px">Thank You</div>
   <div style="padding-top:30%;text-align:center;font-size:30px">Your Order Placed</br></br>
   Sucessfully</div>
   
    <div style="padding-top:40%;text-align:center;font-size:30px">
	Order No : 213456
	</div>
   
   
   </div> -->
  </ion-content>
</ion-view>
