<ion-view view-title="Payment">
<ion-nav-buttons side="right">
		<i style="padding:10px;position:relative" class="ion-ios-paper-outline ion_icons_header" ui-sref="app.payment_history"></i>
		
		
    </ion-nav-buttons>
  <ion-content  style="background-color:#AAAEA4">
  <div>
  
	<div class="card" style="position:relative;padding-top:20px">
		
		<div align="center">
		
			<span>My Wallet Balance</span></br>
			<span style="text-align: center"><h3><img src="img/rupee.svg" width="13" height="13">25,000</h3></span>
		
		</div>
		
		<div class="row" align="center">
			<div class="col col-50">
			
				<span style="color:blue">Add Money</span>
			
			</div>
			<div class="col col-50">
				<span style="color:blue">Transfer Money</span>
			</div>
		
		</div>
	
	</div>
	<div class="card">
	
		<span style="top:6px;position:relative;padding-left:6px">Wallets</span></br></br>
		
		<div class="row">
			<div class="col col-25">
				<img src="img/paytm.png">
			</div>
			<div class="col col-75">
				<span style="top:10px">Paytm</span>
			</div>
		
		</div>
		
		<div class="row">
			<div class="col col-25">
				<img src="img/mobiwik.png">
			</div>
			<div class="col col-75">
				<span style="top:10px">Mobikwik</span>
			</div>
		
		</div>
		
		<div class="row">
			<div class="col col-25">
				<img src="img/freecharge.jpeg">
			</div>
			<div class="col col-75">
				<span style="top:10px">Freecharge</span>
			</div>
		
		</div>
  
	</div>
	
	<div class="card">
	
		<div class="row">
			<div class="col col-60">
				<span style="font-size:14px">Gift Cards</span>
			</div>
			<div class="col col-40">
				<span style="font-size:14px">Rs.0</span>
			</div>
		</div>
		<div>
			<span style="font-size:13px;position:relative;padding-left:6px">Have you received a gift card?</span>
		</div>
		<div class="row">
			<div class="col col-40">
			
			</div>
			<div class="col col-60">
				<span style="font-size:14px;color:blue">ADD GIFT CARD</span>
			</div>
		</div>
	
	
	</div>
	
	<div class="card">
	
	<span style="position:relative;padding-left:6px;padding-top:16px">Saved Cards</span>
	<div class="row" align="center">
		<div class="col col-50">
			<img src="img/atm1.jpg" style="width:{{new_width}}px;">
		</div>
		<div class="col col-50">
			<img src="img/atm2.jpg" style="width:{{new_width}}px;">
		</div>
	</div>
	<div class="row" align="center">
		<div class="col col-50">
		
		</div>
		<div class="col col-50">
			<span style="color:blue;font-size:13px">ADD NEW CARD</span>
		</div>
		
	</div>
	
	</div>
	
	<div class="card">
	
		<span style="top:6px;position:relative;padding-left:6px">other modes of payment</span></br></br>
		
		<div class="row">
			<div class="col col-25">
				<img src="img/netbanking.PNG">
			</div>
			<div class="col col-75">
				<span style="top:10px">Netbanking</span>
			</div>
		
		</div>
		
		<div class="row">
			<div class="col col-25">
				<img src="img/cash.jpg">
			</div>
			<div class="col col-75">
				<span style="top:10px">Cash On Delivery</span>
			</div>
		
		</div>
	
	</div>
	
	
	
  </div>
  </ion-content>
</ion-view>
