<ion-view view-title="" hide-back-button="true">

	<label class="item item-input" style="padding-top:41px;height:85px;width:100%;">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search for branches,dishes" ng-model="search.search_data" ng-change = "search_input(search.search_data)" ng-blur="recent_push(search.search_data)">
		
	</label>
	<div id="recent" >
		<ion-item>
			<div class="card" style="background-color:#AAAEA4;height:40px;position:relative;padding-left:6px" >
				
					<div class="row">
						
						<div class="col col-60">
							<span style="font-size:12px;top:10px">RECENT SEARCHES</span>
						</div>
						<div class="col col-40" align="right" ng-click="recent_clear()">
							<span style="font-size:12px;top:10px" >Clear</span>
						</div>
					
					</div>
					
				
			</div>
			</ion-item>
			<div class="list">
				<ion-item class="item-icon-right" type="item-text-wrap" ng-repeat="items in search_list" ng-click="click_recent(items)">
					{{items}}
				</ion-item>
				
			</div>
		
	</div>
	<div style="position:relative;display:none" id="tab_sel">
		<div class = "tabs tabs-top tabs-color-light">
			<a class = "tab-item" ng-click="restro_click(0)" ng-class="{active: 0===selectedIndex}">
			  RESTAURANTS
		   </a>
		 
		   <a class = "tab-item" ng-click="dish_click(1)" ng-class="{active: 1===selectedIndex}">
			  DISHES
		   </a>
	 
		</div>
	</div>

  <ion-content overflow-scroll="true">
  
	
	<div id="tab_content" style="display:none">
		<div ng-show="tabIndex==0"  style="padding-top:25%">
		
			
				<div class="card" ng-repeat="restro in restaurant_details" ng-click="select_branch(restro.id,restro.restaurant_name)">
			
					<div class="row" align="center">
							<div class="col card-padding">
							
								 <span class="card-title-color">{{restro.restaurant_name}}</span>
								 
							</div>
							
						</div>

						<div class="row">								  
      						<h5>{{restro.address}}</h5>

   						</div>

   						<div class="row">
							<div class="col col-30">
									<span>rating : {{restro.average_rating}}</span>							 
							</div>
							<div class="col">
								
								
							</div>
						</div>
			
						<div class="row" >
				      		<div class="col" id="img1">
				        		<img src="{{dish.image_url}}" class="img-responsive " id="img1">
				      		 </div>
						</div>
				</div>	
			
			
			
			<div class="card" ng-if="restro_details =='0'">
				<img src="img/plate.png" style="width:{{new_width}}px;margin:auto;display:block;height:30%">
				<div align="center">
					<span style="font-size:13px">No results found.Please check the spelling or try a different search.</span>
				</div>
			</div>
		
		</div>
		<div ng-show="tabIndex==1" style="padding-top:25%">
		
			
				<div class="card" ng-repeat="dish in dish_details">
				
					<div class="row">
							<div class="col-60 card-padding">
							
								 <span class="card-title-color">{{dish.item_name}}</span>
								 <img src="img/veg.jpg" width="20" height="20"  ng-if="dish.item_type=='Vegetarian'">
								<img src="img/non.jpg" width="20" height="20"  ng-if="dish.item_type=='Non-vegetarian'">
								<img src="img/vegan.jpg" width="20" height="20"  ng-if="dish.item_type=='Vegan'">
							</div>
							<div class="col-40 card-padding" align="center">
												 
							<!--	<i class="icon icon-large ion-android-cart ion-icon-medium card-title-icon" ng-if="list_id.indexOf(item.id) == -1" ng-click="cart_popup(item.id,item.item_price)"></i>	-->
								<div class="row" ng-show="cartBtn">
									<div class="col col-15">
										<input type='button' value='-' class='qtyminus' field='quantity' ng-click="cart_decr(dish.itemid,dish.item_price,dish.restaurant_id)"/>
									</div>
									<div class="col col-10">
										<input type='text' id='{{dish.itemid}}' name='quantity' value='1' min="1" class='qty' />
									</div>
									<div class="col col-15">
										<input type='button' value='+' class='qtyplus' field='quantity'  ng-click="cart_incr(dish.itemid,dish.item_price,dish.restaurant_id)"/>
									</div>
									
								</div>
								<div class="row"  ng-click="cartBtn=!cartBtn;click_add(dish.itemid,dish.item_price,dish.restaurant_id,dish.restaurant_name)" ng-show="!cartBtn">
									<input type='button' value='ADD' class='addbtn' />
								</div>
								
							</div>
						</div>

						<div class="col">								  
      						<h5>{{dish.item_description}}</h5>

   						</div>

   						<div class="row">
							<div class="col">
								<img src="img/rupee.svg" width="12" height="12">
								<span class="card-price-name">{{dish.item_price}}</span>
								 
							</div>
							<div class="col" align="right">
								
								
							</div>
						</div>
			
						<div class="row" >
				      		<div class="col" id="img1">
				        		<img src="{{dish.image_url}}" class="img-responsive " id="img1">
				      		 </div>
						</div>
					
				
				</div>
			
			<div class="card" ng-if="restro_details =='0'">
				<img src="img/plate.png" style="width:{{new_width}}px;margin:auto;display:block;height:30%">
				<div align="center">
					<span style="font-size:13px">No results found.Please check the spelling or try a different search.</span>
				</div>
			</div>
		
		</div>
	</div>
	
  </ion-content>
</ion-view>
